.site-chronology-container {
  overflow: hidden;

  .section-header-container {
    /*
    border-bottom-color: #1f1a17;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    */

    .section-header {

      h1 {
        color: #1f1a17;
        text-transform: uppercase;
      }
    }
  }

  .site-chronology-list-container {

    ul {

      li {

        &.category-level-1,
        &.category-level-2,
        &.category-level-3,
        &.category-level-4 {
          list-style-type: none;
        }

        &.category-level-1 {

        }

        &.category-level-2 {

        }

        &.category-level-3 {

        }

        &.category-level-4 {

        }

      }
    }

    /*
    .site-article-container {

      .site-article-title {

        h3 {
          color: #1F2553;
          text-transform: uppercase;
        }
      }
    }
    */

  }

  /*
  .site-articles-titles-list-container {
    display: none;

    .site-articles-titles-list-header {

      h2 {
        color: #FF6B00;
        font-size: 1.4rem;
        letter-spacing: 0.10rem;
        font-weight: 600;
        white-space: nowrap;
      }
    }

    .site-article-title {

      h3 {
        color: #1F2553;
        font-size: 1rem;
        font-weight: 600;
      }

      a, a:active, a:visited, a:hover {
        color: #1F2553;;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
  */

}
