<header class="site-header">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <nav class="navbar navbar-expand-md navbar-ffrauds fixed-top" role="navigation">
                  <div class="container my-0 py-0">
                      <div class="d-flex flex-row flex-nowrap w-100 no-gutters align-items-end">
                        {%- capture home_link -%}
                          {% assign sections_filtered = site.data.navigation | where: "lang", page.lang %}
                          {%- for section in sections_filtered -%}
                            {%- if section.ref == "index"  -%}
                              {{ section.link }}
                            {%- endif -%}
                          {%- endfor -%}
                        {%- endcapture -%}
                        {%- capture home_title -%}
                          {% assign sections_filtered = site.data.navigation | where: "lang", page.lang %}
                          {%- for section in sections_filtered -%}
                            {%- if section.ref == "index"  -%}
                              {{ section.name }}
                            {%- endif -%}
                          {%- endfor -%}
                        {%- endcapture -%}

                        {% if page.ref != 'index' %}
                          <div class="flex-fill my-0 py-0"><a class="navbar-brand my-0 py-0" href="{{ home_link | relative_url }}" title="{{ home_title }}"><span class="text-uppercase">{{ home_title }}</span></a></div>
                        {% endif %}

                        <div class="flex-fill my-0 py-0 align-self-end justify-content-end">
                          <div class="collapse navbar-collapse my-0 py-0">
                            <div class="navbar-nav my-0 py-0">
                              {% assign sections_filtered = site.data.navigation | where: "lang", page.lang %}
                              {% for section in sections_filtered %}
                                {% if section.show != false %}
                                  <a class="nav-item nav-link{% if page.ref == section.ref %} active{% endif %} my-0 py-0 pr-1" href="{{ section.link | relative_url }}" title="{{ section.name }}">
                                      {{ section.name }} {% if page.url == section.link %}<span class="sr-only">(current)</span>{% endif %}
                                  </a>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                        <div class="my-0 py-0 hamburger-container">
                          <button id="toggle-menu-mobile" class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                              <span class="hamburger-inner"></span>
                            </span>
                          </button>
                        </div>
                      </div>
                  </div>
                </nav>
                <div class="banner">{{ site.description }}</div>
            </div>
        </div>
    </div>
</header>
