<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {%- seo -%}
  
  <meta property="modified_time" content="{{ page.last_modified_at }}">
  <meta property="build_time" content="{{ site.time }}">

  {% comment %}
  <link rel="icon" href="{{ "/assets/images/favicon.png" | relative_url }}">
  {% endcomment %}

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
