// Grid breakpoints
// $grid-breakpoints: (
//         xs: 0,
//         sm: 576px,
//         md: 768px,
//         lg: 992px,
//         xl: 1200px
// );

// $container-max-widths: (
//         sm: 768px,
//         md: 992px,
//         lg: 1000px,
//         xl: 1220px
// );

$grid-gutter-width: 20px;

$white: #ffffff;
$black: #000000;
//$primary: #424242;
$primary: #1f1a17;
$secondary: #424242;
//$secondary: #1f1a17;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

// Fonts
//$font-family-base: 'Open Sans', 'Helvetica Neue', Arial, sans-serif,
//  -apple-system;
$font-family-base: 'Source Sans Pro', sans-serif;
//$font-family-heading: 'Lora', 'Helvetica Neue', Arial, sans-serif, -apple-system;
$font-family-heading: 'Source Sans Pro', sans-serif;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
//$font-weight-bold: 700;
//$font-weight-bold: 600;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.6;

$headings-font-weight: 400;

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: 10px,
    2: 20px,
    3: 30px,
    4: 40px,
    5: 50px,
    6: 60px,
    7: 70px,
    8: 80px,
    9: 90px,
    10: 100px,
    11: 110px,
    12: 120px,
    13: 130px,
    14: 140px,
    15: 150px,
    16: 160px,
    17: 170px,
    18: 180px,
    19: 190px,
    20: 200px,
  ),
  $spacers
);

// Navbar
//$navbar-ffrauds-color:                rgba($black, .5) !default;
$navbar-ffrauds-color:                #1f1a17 !default; //$navbar-acme-color:
//$navbar-ffrauds-hover-color:          rgba($black, .7) !default;
$navbar-ffrauds-hover-color:          #424242 !default; //$navbar-acme-hover-color
//$navbar-ffrauds-hover-color:          #424242 !default;
//$navbar-ffrauds-active-color:         rgba($black, .9) !default;
$navbar-ffrauds-active-color:         #1f1a17 !default; // $navbar-acme-active-color
//$navbar-ffrauds-active-color:         #424242 !default;
$navbar-ffrauds-disabled-color:       rgba($black, .3) !default; // $navbar-acme-disabled-color
$navbar-ffrauds-toggler-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-ffrauds-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default; // $navbar-acme-toggler-icon-bg
$navbar-ffrauds-toggler-border-color: rgba($black, .1) !default; // $navbar-acme-toggler-border-color

$navbar-ffrauds-brand-color:                $navbar-ffrauds-active-color !default; // $navbar-acme-brand-color
$navbar-ffrauds-brand-hover-color:          $navbar-ffrauds-active-color !default; // $navbar-acme-brand-hover-color
