---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

// Font
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Ubuntu');*/

// Bootstrap
@import 'bootstrap/functions';
@import 'bootstrap-variables';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/grid';
@import 'bootstrap/type';
//@import 'bootstrap/tables';
@import "bootstrap/images";
// @import "bootstrap/code";
//@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
@import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
@import "bootstrap/print";
@import 'bootstrap/utilities';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/social';
@import 'components/menu';
@import 'components/menu-mobile';
@import 'components/hamburger';
@import 'components/back-to-top';
@import 'components/timeline';

// Pages
@import 'pages/home';
@import 'pages/chronology/page-chronology';
@import 'pages/documents/page-documents';
@import 'pages/articles/page-articles'; 

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 100px;
  margin-bottom: 70px;
}

hr {
  border-top-color: $black;
}

.banner {
  background-color: #e8e8e8;
  color: #424242;
  margin: 0;
  padding: 1em;
}

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}