
.navbar-ffrauds {
  background-color: #FFFFFF;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .navbar-brand {
    color: $navbar-ffrauds-brand-color;

    @include hover-focus {
      color: $navbar-ffrauds-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-ffrauds-color;

      font-weight: bold;
      text-transform: uppercase;

      @include hover-focus {
        color: $navbar-ffrauds-hover-color;
      }

      &.disabled {
        color: $navbar-ffrauds-disabled-color;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-ffrauds-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-ffrauds-color;
    border-color: $navbar-ffrauds-toggler-border-color;

    margin-bottom: 5px;
  }

  .navbar-toggler-icon {
    background-image: $navbar-ffrauds-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-ffrauds-color;
    a {
      color: $navbar-ffrauds-active-color;

      @include hover-focus {
        color: $navbar-ffrauds-active-color;
      }
    }
  }
}
