
ul.social {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    display: inline-block;

    &:last-of-type {
      margin-right: 5px;
    }

    .social-icon {
      width: auto;
      height: auto;
      display: inline-block;
      padding-right: 5px;
      padding-bottom: 5px;
      vertical-align: middle;
    }
  }
}
